<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDKEcw1ITQjBw3dREYoB33VvFX7HsbDWdQ</string>
	<key>GCM_SENDER_ID</key>
	<string>520772731316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notexpert</string>
	<key>PROJECT_ID</key>
	<string>notexpert-cc0d7</string>
	<key>STORAGE_BUCKET</key>
	<string>notexpert-cc0d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520772731316:ios:9c12aa4d270f68f9f9b2e1</string>
</dict>
</plist>